footer, header {
  height: 50px;
  background-color: black;
}
.container div {
  min-height: 600px;
}
.left {
  float: left;
  width: 200px;
  background-color: blue;
}
.right {
  float: right;
  width: 200px;
  background-color: red;
}
.center {
  background-color: yellow;
}